rainbow/.vscode/settings.json

example/.ipynb_checkpoints/report-checkpoint.ipynb

rainbow/notebooks/.ipynb_checkpoints/report-checkpoint.ipynb

rainbow/__pycache__/

rainbow/optical_flow/__pycache__/

build/

dist/

rainbow.egg-info/

notebooks/.ipynb_checkpoints/

examples/notebooks/.ipynb_checkpoints/

misc/notebooks/.ipynb_checkpoints/

.ipynb_checkpoints/
